.keyboard {
    width: 100%;
    background-color: var();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .6rem;
    background: #1e1e1e;
    user-select: none;
    padding: 10px;
    backdrop-filter: blur(5px);
}

.keyboard-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.keyboard-key {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    background: #343333;
    border: 1px solid #444;
    padding: 1.2rem 1.5rem;
    line-height: 1;
    transition: all 250ms ease-in;
    touch-action: none;
}

.keyboard-key:hover,
.keyboard-key:focus,
.keyboard-key:active {
    filter: brightness(1.2);
    transition: all 250ms ease-out;
}

.keyboard-fn:not([data-key="{space}"]) {
  background: var(--accent-2);
  color: #000;
}

.keyboard-key[data-key=","],
.keyboard-key[data-key="."],
.keyboard-key[data-key=".com"],
.keyboard-key[data-key=".in"],
.keyboard-key[data-key=".net"] {
    background: #4e4f5c;
}

.keyboard-key[data-key="@"]:not([data-mode="symbol"]),
.keyboard-key[data-key=","],
.keyboard-key[data-key="."],
.keyboard-key[data-key=".com"],
.keyboard-key[data-key=".in"],
.keyboard-key[data-key=".net"],
.keyboard-fn[data-key="{lock}"],
.keyboard-fn[data-key="{shift}"] {
    max-width: fit-content;
}