#layout {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    padding: 4rem;
}

.layout-container .heading {
    color: var(--txt-clr);
    font-size: 10vmin;
}
.layout-container .heading div {
    display: inline;
    font-family: Seriguela;
    color: var(--accent-1);
}

.layout-container .layouts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}