#admin {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    padding: 4rem;
}

.save-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
    background: var(--bg-clr-2);
    padding: .6rem;
    padding-left: 2rem;
    border-radius: 4ex;
    border: 1px solid var(--border-clr);
    width: 30%;
}
.save-bar .save-btn {
    all: unset;
    background: var(--accent-1);
    color: #000;
    font-weight: 500;
    border-radius: 4ex;
    padding: .6rem 2rem;
}